* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f6f7fb;
}

::-webkit-scrollbar {
  margin-right: 1px;
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  margin-right: 1px;
  border-radius: 100%;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  margin-right: 1px;
  background: linear-gradient(to bottom, #4FACFE 21%, #00F2FE);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #1c93fc 21%, #019199);
}